.addTask {
  background-color: #8d99ae;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
  min-width: 500px;
}

.addTask form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.addTask form input {
  background-color: transparent;
  border: 2px solid #edf2f4;
  padding: 12px;
  font-family: inherit;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #edf2f4;
}

.addTask form input:focus {
  outline: none;
}

.addTask form input::placeholder {
  color: #edf2f4;
}

